# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*.tfvars
**/.infracost/

# Python (Lambda source)
__pycache__/
*.py[cod]
.venv/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/
terraform/build/
**/response.json
